footer {
  background-color: #fafafa;
}

.footer-container {
  height: 98px;
  margin: 0 auto;
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;

  nav, li {
    display: inline-block;
  }

  li {
    margin-bottom: 7px;
    margin-right: 16px;
  }

  a, a:visited {
    color: #003569;
    text-decoration: none;
  }

  span {
    color: #999;
  }
}
